# Compiled class files
*.class

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties

# Eclipse project files
*.classpath
*.project
.settings/

# IntelliJ IDEA project files
.idea/
*.iml

# Log files
*.log

# Temporary files
*.tmp
*.temp

# Operating System files
.DS_Store
Thumbs.db

# Karate reports
target/karate-reports/
